/*=============================================
=             Library Item Box                =
=============================================*/

/* Focus Landscape */
.BasicUI .LibraryItemBox.Focusable:focus.Landscape {
    transform: none;
}

/* Focus Portrait */
.BasicUI .LibraryItemBox.Focusable:focus  {
    transform: none;
}

/* Hover Landscape */
.BasicUI ._54PuCatl_tYG836TOs4Mv .LibraryItemBox:hover.Landscape, 
.BasicUI ._54PuCatl_tYG836TOs4Mv .LibraryItemBox._2YsY_x7hLyKlUqjX9bhn0R.Landscape  {
    transform: none;
}

/* Hover Portrait */
.BasicUI ._54PuCatl_tYG836TOs4Mv .LibraryItemBox:hover:not(.Landscape), 
.BasicUI ._54PuCatl_tYG836TOs4Mv .LibraryItemBox._2YsY_x7hLyKlUqjX9bhn0R:not(.Landscape) {
    transform: none;
}

/*=============================================
=        Library Item Box Subscript           =
=============================================*/

.LibraryItemBox.gpfocus .LibraryItemBoxSubscript {
    margin-top: 0;
}

/*=============================================
=                  Banner                     =
=============================================*/

/* Focus */
:focus~.AppPortraitBannerContainer {
    transform: none;
}

/* Hover */
._1pwP4eeP1zQD7PEgmsep0W._54PuCatl_tYG836TOs4Mv:not(._3Lu_5jVxDAvsdeGpBzaQAt):hover .AppPortraitBannerContainer {
    transform: none;
}
